// 100%全屏幕 @include full-screen
@mixin full-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
/*
--------居中

name: center($position)

###
div {
    @include center('vertical')
}
###

*/
@mixin center($position) {
    position: absolute;
    @if $position == 'vertical' {
        top: 50%;
        transform: translateY(-50%);
    }
    @else if $position == 'horizontal' {
        left: 50%;
        transform: translateX(-50%);
    }
    @else if $position == 'both' {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    } 
}
// button width height fontsize radius
@mixin kmf-btn($w,$h){
    background: $kmfColor;
    width: $w;
    height: $h;
    line-height:$h;
    color: #fff;
    text-align: center;
}
